<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2><b>Nouveau post</b></h2>
    <form [formGroup]="postForm" (ngSubmit)="onCreateNewPost()">
      <div class="form-group">
        <h3><label for="title">Titre</label></h3>
        <input type="text" id="title"
               class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <h3><label for="content">Contenu</label></h3>
        <textarea id="content" style="height: 400px;resize: none;"
                  class="form-control" formControlName="content"></textarea>
      </div>
      <button class="btn btn-primary" [disabled]="postForm.invalid"
              type="submit">Soumettre</button>

    </form>
  </div>
</div>
