<li class="list-group-item" 
    [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <span style="float:right"><i>{{post.created_at  | date: 'MM/dd/yyyy, hh:mm a'}}</i></span>
  <h3><b>{{post.title}}</b></h3>
  <p>{{post.content}}</p>
  <p>
  	<button class="btn btn-success" (click)="onLoveIt()">Love it!</button>&nbsp;
  	<button class="btn btn-danger" (click)="onDontLoveIt()">Don't love it!'</button>
  </p>
</li>
